/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --bg-theme-img: url(../images/cover-image-light.png);
  --bg-color: #353430;
  --main-font: "IBM Plex mono";
  --header-title-color: #ffc2e6;
  --header-theme-menu-padding: 20px;
  --header-menu-button-color: #353430;
  --main-title-color: #353430;
  --rec-display: none;
  --border-menu-button-opacity: 1px solid #32312d66;
  --header-menu-position: center;
  --decor-arrow-color: #353430;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --bg-theme-img: url(../images/cover-image-light.png);
    --bg-color: #353430;
    --main-font: "IBM Plex mono";
    --header-title-color: #ffc2e6;
    --header-theme-menu-padding: 20px;
    --header-menu-button-color: #353430;
    --main-title-color: #353430;
    --rec-display: none;
    --border-menu-button-opacity: 1px solid #32312d66;
    --decor-arrow-color: #353430;
  }
}

/* Остальные стили */
