/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #353430;
  --main-font: "IBM Plex mono"
}
